@model IEnumerable<zeroHunger.DTOs.EmployeeDTO>

@{
    ViewBag.Title = "Employees";
}

<h2>Employees</h2>
@Html.ActionLink("Employees", "Employees", "Admin", new { area = "" }, new { @class = "btn btn-outline-dark" })
@Html.ActionLink("Restaurants", "Restaurants", "Admin", new { area = "" }, new { @class = "btn btn-outline-dark" })
@Html.ActionLink("Orders", "Index", "Admin", new { area = "" }, new { @class = "btn btn-outline-dark" })
@Html.ActionLink("Logout", "Logout", "Login", new { area = "" }, new { @class = "btn btn-danger" })
 
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.empId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.availablity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uname)
        </th>
        <th>Action</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.empId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.eName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.availablity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.uname)
            </td>
            <td>
                @if (item.status.Equals("Pending"))
                {
                    <form action="/Admin/Employees" method="post">
                        <input type="hidden" name="empId" value="@item.empId" />
                        <input type="submit" value="Approve Employee" name="" class="btn btn-success" />
                    </form>
                    <form action="/Admin/EmployeesRemove" method="post">
                        <input type="hidden" name="empId" value="@item.empId" />
                        <input type="submit" value="Remove Employee" name="" class="btn btn-danger" />
                    </form>
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
