@model IEnumerable<zeroHunger.DTOs.OrderDTO>


@{
    ViewBag.Title = "Index";
}

<h2>System Admin</h2>
@Html.ActionLink("Employees", "Employees", "Admin", new { area = "" }, new { @class = "btn btn-outline-dark" })
@Html.ActionLink("Restaurants", "Restaurants", "Admin", new { area = "" }, new { @class = "btn btn-outline-dark" })
@Html.ActionLink("Orders", "Index", "Admin", new { area = "" }, new { @class = "btn btn-outline-dark" })
@Html.ActionLink("Logout", "Logout", "Login", new { area = "" }, new { @class = "btn btn-danger" })
 
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.oId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.resName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.foodName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prsrvTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.riderId)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.oId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.resName)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.foodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prsrvTime)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.rId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orderStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.riderId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>