@model IEnumerable<zeroHunger.DTOs.RestaurantDTO>

@{
    ViewBag.Title = "Restaurants";
}

<h2>Restaurants</h2>
@Html.ActionLink("Employees", "Employees", "Admin", new { area = "" }, new { @class = "btn btn-outline-dark" })
@Html.ActionLink("Restaurants", "Restaurants", "Admin", new { area = "" }, new { @class = "btn btn-outline-dark" })
@Html.ActionLink("Orders", "Index", "Admin", new { area = "" }, new { @class = "btn btn-outline-dark" })
@Html.ActionLink("Logout", "Logout", "Login", new { area = "" }, new { @class = "btn btn-danger" })

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.rId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.resName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)

        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.rId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.resName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.uname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
                </td>
            
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
