@model IEnumerable<zeroHunger.EF.Restaurant>

@{
    ViewBag.Title = "Index";
}

<h2>Employee</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.rId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.foodName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prsvTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rider)
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.rId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.foodName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.prsvTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rider)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    }

</table>
@Html.ActionLink("Logout", "Logout", "Login", new { area = "" }, new { @class = "btn btn-danger" })