
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

@Html.ActionLink("Employees", "Employees", "Admin", new { area = "" }, new { @class = "btn btn-outline-dark" })
@Html.ActionLink("Restaurants", "Restaurants", "Admin", new { area = "" }, new { @class = "btn btn-outline-dark" })
@Html.ActionLink("Orders", "Index", "Admin", new { area = "" }, new { @class = "btn btn-outline-dark" })
@Html.ActionLink("Details", "Details", "Admin", new { area = "" }, new { @class = "btn btn-outline-dark" })
@Html.ActionLink("Logout", "Logout", "Login", new { area = "" }, new { @class = "btn btn-danger" })
