@model IEnumerable<zeroHunger.DTOs.OrderDTO>

@{
    ViewBag.Title = "Index";
}

<h2>

    @if (Session["res"] != null)
    {

        var res = (zeroHunger.EF.Restaurant)Session["res"];
        <text>Welcome, @res.resName</text>
    }
    else
    {
        <span class="alert alert info">@TempData["Msg"]</span>
        <text>Restaurant</text>
    }
</h2>
@if (TempData["Msg"] != null)
{
    <span class="alert alert info">@TempData["Msg"]</span>
}
<p>
    @Html.ActionLink("Open a Food Collect Request", "AddFood", "Restaurant", new { area = "" }, new { @class = "btn btn-outline-success" })
    @Html.ActionLink("Logout", "Logout", "Login", new { area = "" }, new { @class = "btn btn-danger" })

</p>
<table class="table">
    <tr>
        <th>
            Order ID
        </th>
        <th>
            Food Name
        </th>
        <th>
            Preserve Time
        </th>

        <th>
            Order Status
        </th>
        <th>
            Rider ID
        </th>
        <th></th>
    </tr>
    @if (Session["res"] != null)
    {
        var res = (zeroHunger.EF.Restaurant)Session["res"];

        foreach (var item in Model)
        {
            if (@res.rId.Equals(item.rId))
            {



                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.oId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.foodName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.prsrvTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.orderStatus)
                    </td>
                    <td>
                        @if(item.riderId.Equals(null))
                        {
                            <text>Not Assigned</text>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.riderId)
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        }
    }

</table>
